body {
    margin: 0;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
    color: #515151;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(245%2c 245%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M37 1080L1117 0L1601.5 0L521.5 1080z' fill='url(%23SvgjsLinearGradient1007)'%3e%3c/path%3e%3cpath d='M704.6 1080L1784.6 0L2156.6 0L1076.6 1080z' fill='url(%23SvgjsLinearGradient1007)'%3e%3c/path%3e%3cpath d='M1818 1080L738 0L370.5 0L1450.5 1080z' fill='url(%23SvgjsLinearGradient1008)'%3e%3c/path%3e%3cpath d='M1264.4 1080L184.4000000000001 0L-612.0999999999999 0L467.9000000000001 1080z' fill='url(%23SvgjsLinearGradient1008)'%3e%3c/path%3e%3cpath d='M1161.5479406641816 1080L1920 321.54794066418174L1920 1080z' fill='url(%23SvgjsLinearGradient1007)'%3e%3c/path%3e%3cpath d='M0 1080L758.4520593358183 1080L 0 321.54794066418174z' fill='url(%23SvgjsLinearGradient1008)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='rgba(255%2c 219%2c 201%2c 0.3)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(255%2c 219%2c 201%2c 0.3)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1008'%3e%3cstop stop-color='rgba(255%2c 219%2c 201%2c 0.3)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(255%2c 219%2c 201%2c 0.3)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2991%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(245%2c 245%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M37 1080L1117 0L1601.5 0L521.5 1080z' fill='url(%23SvgjsLinearGradient2992)'%3e%3c/path%3e%3cpath d='M704.6 1080L1784.6 0L2156.6 0L1076.6 1080z' fill='url(%23SvgjsLinearGradient2992)'%3e%3c/path%3e%3cpath d='M1818 1080L738 0L370.5 0L1450.5 1080z' fill='url(%23SvgjsLinearGradient2993)'%3e%3c/path%3e%3cpath d='M1264.4 1080L184.4000000000001 0L-612.0999999999999 0L467.9000000000001 1080z' fill='url(%23SvgjsLinearGradient2993)'%3e%3c/path%3e%3cpath d='M1161.5479406641816 1080L1920 321.54794066418174L1920 1080z' fill='url(%23SvgjsLinearGradient2992)'%3e%3c/path%3e%3cpath d='M0 1080L758.4520593358183 1080L 0 321.54794066418174z' fill='url(%23SvgjsLinearGradient2993)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2991'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient2992'%3e%3cstop stop-color='rgba(247%2c 232%2c 230%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(247%2c 232%2c 230%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient2993'%3e%3cstop stop-color='rgba(247%2c 232%2c 230%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(247%2c 232%2c 230%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
}
main {
    flex: 1;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    line-height: 1.5;
}

.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    /* margin-left: -15px;
    margin-right: -15px; */
    width: 100%;
    justify-content: space-between;
}

header {
    background-color: #56a8c8;
    width: 100%;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #56a8c8;
}
/* .row > [class^='col-'] {
    padding-left: 15px;
    padding-right: 15px;
} */

h1 {
    margin-top: 56px;
    color: #56a8c8;
}

h2 {
    margin-top: 56px;
    font-size: 2em;
    font-weight: bold;
    color: #56a8c8;
}

h3 {
    text-align: center;
}

.btn-default {
    padding: 16px;
    background-color: #56a8c8;
    color: white;
    border-radius: 8px;
    border: none;
}

.mg-center {
    margin: 0 auto;
}
.btn-default:hover {
    background-color: #ffdbc9;
    color: #515151;
}

.col-1 {
    width: calc(1 / 12 * 100%);
}

.col-2 {
    width: calc(2 / 12 * 100%);
}

.col-3 {
    width: calc(3 / 12 * 100%);
}

.col-4 {
    width: calc(4 / 12 * 100%);
}

.col-5 {
    width: calc(5 / 12 * 100%);
}

.col-6 {
    width: calc(6 / 12 * 100%);
}

.col-7 {
    width: calc(7 / 12 * 100%);
}

.col-8 {
    width: calc(8 / 12 * 100%);
}

.col-9 {
    width: calc(9 / 12 * 100%);
}

.col-10 {
    width: calc(10 / 12 * 100%);
}

.col-11 {
    width: calc(11 / 12 * 100%);
}

.col-12 {
    width: calc(12 / 12 * 100%);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-td-1 {
        width: calc(1 / 12 * 100%);
    }

    .col-td-2 {
        width: calc(2 / 12 * 100%);
    }

    .col-td-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-td-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-td-5 {
        width: calc(5 / 12 * 100%);
    }

    .col-td-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-td-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-td-8 {
        width: calc(8 / 12 * 100%);
    }

    .col-td-9 {
        width: calc(9 / 12 * 100%);
    }

    .col-td-10 {
        width: calc(10 / 12 * 100%);
    }

    .col-td-11 {
        width: calc(11 / 12 * 100%);
    }

    .col-td-12 {
        width: calc(12 / 12 * 100%);
    }
}

/* MOBILE */
@media only screen and (max-width: 767px) {
    .col-md-1 {
        width: calc(1 / 12 * 100%);
    }

    .col-md-2 {
        width: calc(2 / 12 * 100%);
    }

    .col-md-3 {
        width: calc(3 / 12 * 100%);
    }

    .col-md-4 {
        width: calc(4 / 12 * 100%);
    }

    .col-md-5 {
        width: calc(5 / 12 * 100%);
    }

    .col-md-6 {
        width: calc(6 / 12 * 100%);
    }

    .col-md-7 {
        width: calc(7 / 12 * 100%);
    }

    .col-md-8 {
        width: calc(8 / 12 * 100%);
    }

    .col-md-9 {
        width: calc(9 / 12 * 100%);
    }

    .col-md-10 {
        width: calc(10 / 12 * 100%);
    }

    .col-md-11 {
        width: calc(11 / 12 * 100%);
    }

    .col-md-12 {
        width: calc(12 / 12 * 100%);
    }
    .md-padding-bottom {
        margin-bottom: 32px;
    }
}
