.image-wrapper {
    width: 250px;
    height: 250px;
    position: relative;
}

.image-wrapper img {
    position: absolute;
    border-radius: 500px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    object-fit: cover; /* optional */
}

.about-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mg-left {
    margin-right: auto;
    margin-left: 0;
}
